<div class="container-fluid main-container">
  <div class="product-description">
    <img src="{{ product?.picture }}" class="detail-picture" />
    <h4>Descripción del producto</h4>
    <p>{{ product?.description }}</p>
  </div>
  <div class="buy-section">
    <p class="small-title">
      {{ product?.condition }} - {{ product?.sold_quantity }} vendidos
    </p>
    <p class="regular-title">{{ product?.title }}</p>
    <h3>
      $ {{ product?.price?.fullPrice }}
      <span class="small-decimals">{{ product?.price?.decimals || "00" }}</span>
    </h3>
    <button class="btn btn-primary">Comprar</button>
  </div>
</div>
