@import "../../styles/colors.scss";

.search-box {
  background: $meli-yellow;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
}

.search-input {
  flex-grow: 0.5;
  border: none;
  height: 18px;
  border-radius: 1px;
  padding: 4px;
  &:focus {
    outline: none;
  }
}

.search-btn {
  border: none;
  height: 26px;
  margin-left: -10px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
