@import "app/styles/colors.scss";

html body {
  margin: 0;
  background-color: $meli-grey;
}

.meli-logo {
  height: 40px;
  width: 40px;
}

.active-dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: $meli-green-active;
  display: inline-block;
}
